---
import MainLayout from "@/layouts/MainLayout.astro";

const cart = Astro.cookies.get("cart");
---

<MainLayout title="Cart">
  <h1>Cart</h1>

  <!-- <code>
    {JSON.stringify(cart)}
  </code> -->
</MainLayout>
