---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

import TypedBlogPost from "@blog/TypedBlogPost.astro";
import Main from "@layouts/Main.astro";
import Title from "@shared/Title.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const blogPost = await getCollection("blog");

  return paginate(blogPost, { pageSize: 2 });
}) satisfies GetStaticPaths;
const { page } = Astro.props;
---

<Main>
  <section class="flex flex-col">
    <Title>Zeppling paginated</Title>
    <a class="text-teal-400 underline italic mt-2" href="/">Go Home</a>
  </section>

  <section class="" aria-label="Entradas de blog">
    <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
      {page.data.map((post) => <TypedBlogPost post={post} />)}
    </div>
  </section>

  <section aria-label="Controles" class="flex justify-between mt-10">
    <a
      href={page.url.prev}
      class:list={[
        "w-24 text-center pagination",
        {
          disabled: !page.url.prev,
        },
      ]}>Preview</a
    >
    <a
      href={page.url.next}
      class:list={[
        "w-24 text-center pagination",
        {
          disabled: !page.url.next,
        },
      ]}>Next</a
    >
  </section>
</Main>

<style>
  .pagination {
    @apply bg-yellow-500 text-white p-2 rounded hover:bg-yellow-600 cursor-pointer;
  }

  .disabled {
    @apply bg-gray-600 hover:bg-gray-600;
  }
</style>
