---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Privada">
	<main>
		<h1>Private Page</h1>
		<p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum sapiente in
			aut rerum eos aliquid, tenetur quasi quae blanditiis commodi illum
			consequatur saepe inventore quis enim est alias aperiam ex. Lorem, ipsum
			dolor sit amet consectetur adipisicing elit. Nam magnam totam officia!
			Autem doloribus incidunt, consectetur quaerat voluptate quibusdam
			repudiandae delectus ex cum repellendus assumenda sint sit, recusandae
			illum
		</p>
	</main>
</MainLayout>
