---
import MainLayout from "@/layouts/MainLayout.astro";
import { actions } from "astro:actions";

const cookies = Astro.cookies.get("cart")?.value ?? "[]";
const { data: products, error } = await actions.loadProductsFromCart({
  cookies,
});

console.log({ products, error });
---

<MainLayout title="Cart">
  <h1>Cart</h1>

  <code>
    {JSON.stringify(products)}
    {JSON.stringify(cookies)}
  </code>
</MainLayout>
