---
import Main from "@layouts/Main.astro";
import Title from "@shared/Title.astro";
import { getCollection } from "astro:content";
import AuthorTag from "src/components/author/AuthorTag.astro";

const authors = await getCollection("author");
---

<Main title="Author List">
  <Title>Autores</Title>
  <article class="grid grid-cols-1 sm:grid-cols-2 gap-2">
    {authors.map((author) => <AuthorTag author={author} />)}
  </article>
</Main>
