---
import MainLayout from "@/layouts/MainLayout.astro";
import { actions } from "astro:actions";

// const session = await getSession(Astro.request);
// const { user } = session ?? {}; // porque puede ser nulo
const elements = await actions.getProductsByPage({});
const { data: products, error } = elements;

if (error) {
  return Astro.redirect("/");
}
---

<MainLayout>
  <h1 class="text-3xl">Home Page</h1>
</MainLayout>
