---
import { ProductList } from "@/components";
import MainLayout from "@/layouts/MainLayout.astro";
import { actions } from "astro:actions";

// const session = await getSession(Astro.request);
// const { user } = session ?? {}; // porque puede ser nulo
const elements = await actions.getProductsByPage({});
const { data, error } = elements;

if (error) {
  return Astro.redirect("/");
}
const { totalPages, products } = data;
---

<MainLayout>
  <h1 class="text-3xl">Product List</h1>
  <ProductList products={products} client:load />
</MainLayout>
