---
import { ViewTransitions } from "astro:transitions";
import "../styles/blog.css";
// interface Props {
//   title?: string;
// }

const { title } = Astro.props;
// las props no solo son las que opnes en las interfaces sino que hay muchas más y el operador ...rest lo demuestra

// const frontmatter = rest.frontmatter;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/zepplin_favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-zinc-900 text-zinc-200">
    <main class="mb-10 max-w-5xl m-auto px-5 py-5">
      <a id="go-back" href="/" class="underline text-yellow-500">Go Home</a>
      <slot />
    </main>
  </body>
</html>
