---

---

<section class="">
  <div
    class="bg-black h-[330px] text-white p-6 rounded-lg shadow-lg order-2 sm:order-1"
  >
    <h2 class="text-lg font-semibold mb-4">Resumen de compra</h2>

    <div class="flex justify-between text-gray-400 mb-2">
      <span>Envío</span>
      <span>Gratis</span>
    </div>

    <slot />

    <button
      class="mt-10 w-full bg-blue-700 text-gray-300 py-3 rounded-lg hover:bg-gray-600 transition-all"
    >
      PAGAR
    </button>
  </div>
</section>
