---
import Navbar from "@/components/shared/Navbar.astro";

interface Props {
  title?: string;
}

const { title = "Auth with Firebase" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="favicon.svg" type="image/x-icon" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <main class="container m-auto max-w-3xl px-5">
      <slot />
    </main>
  </body>
</html>
