---

---

<nav class="flex justify-between mb-10 items-cente">
  <h1 class="text-xl text-gray-100 font-bold"><a href="/">Astro Auth</a></h1>
  <div class="flex items-center">
    <ul class="flex items-center space-x-6">
      <li class="font-semibold text-sm text-gray-100">
        <a href="/login">Login</a>
      </li>
      <li class="font-semibold text-sm text-gray-100">
        <a href="/signin">Signin</a>
      </li>
      <li class="font-semibold text-sm text-red-400">
        <a href="#">Signout</a>
      </li>
      <li class="font-semibold text-sm text-green-400">
        <a href="/private">Private Pages</a>
      </li>
    </ul>
  </div>
</nav>
