---
import { type CollectionEntry, getCollection } from "astro:content";
import BlogPost from "../../layouts/BlogPost.astro";

// import LikeBtn from "@components/likes/LikeBtn.vue";
import LikeBtnAction from "@components/likes/LikeBtnAction.vue";

export const prerender = true; // esto generará las páginas de manera estática, lo que llevará a que el contador de likes no funcionara por ende, tienes que mandar de alguna manera a vue que haga el contador y eso lo voy a hacer a travñes del id

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<BlogPost {...post.data}>
  <div style={{ height: "50px" }}>
    <LikeBtnAction postId={post.id} client:only="vue" />
  </div>
  <Content />
</BlogPost>
